PORT=3000

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

GROQ_API_KEY=

RENDER_API_KEY=
RENDER_SERVICE_IDS={"order-service-a":"","order-service-b":"","inventory-service":"","notification-service":""}

ORDER_A_URL=http://localhost:3001
ORDER_B_URL=http://localhost:3011
INVENTORY_URL=http://localhost:3002
NOTIFICATION_URL=http://localhost:3003

DISCORD_WEBHOOK_URL=
